@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --base-color: #66f;
  --text-dark: #3c4250;
  --text-light: #eceef3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.925rem;
}

.container {
  width: 90%;
  margin: auto;
  padding-block: 0.9rem;
}
